asgiref>=3.8.1
charset-normalizer>=3.4.2
colorlog>=6.9.0
dj-rest-auth>=7.0.1
django-allauth>=65.2.0
django-cors-headers>=4.7.0
django-debug-toolbar>=4.4.6
django-environ>=0.11.2
django-extensions>=3.2.3
django-filter>=24.3
django-gulp>=4.1.0
django-harlequin>=1.4.0
django-mkdocs>=0.1.2
django-ninja-extra>=0.30.0
django-ninja-jwt>=5.3.7
django-redis>=5.4.0
django-structlog>=9.0.0
django-unfold>=0.41.0
django>=5.1.2
djangorestframework-simplejwt>=5.5.0
djangorestframework>=3.16.0
drf-spectacular>=0.28.0
graphene-django>=3.2.3
gunicorn>=23.0.0
idna>=3.10
markdown>=3.8
ninja-schema>=0.14.2
pandas>=2.2.3
pillow>=11.0.0
psycopg-binary>=3.2.8
psycopg>=3.2.8
pydot>=3.0.2
# pygraphviz>=1.14
python-decouple>=3.8
python-dotenv>=1.0.1
pyyaml>=6.0.2
redis>=6.0.0
ruff>=0.7.1
selenium>=4.26.1
shortuuid>=1.0.13
structlog>=24.4.0
urllib3>=2.4.0
uvicorn>=0.32.1
whitenoise>=6.8.2
